<!-- dynamic title-->
<% provide(:title, "About Us") %>

<div class="about-container">
	<div class="story-title" id="story-title-1">IN THE BEGINNING</div>
	<div class="story-page" id="story-block-1">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula vehicula nibh, vitae fringilla ante ultrices facilisis. Proin in sodales odio, ac dapibus libero. Morbi tristique ut dui hendrerit cursus. In felis urna, pulvinar in aliquam eu, vehicula sit amet elit. Morbi mauris ante, luctus ut sem nec, lacinia commodo felis. Donec nec nunc malesuada enim finibus posuere. Proin est dui, pharetra ac purus eget, tempor cursus elit.</p>

	<p>Vestibulum eget scelerisque magna, et euismod tortor. Sed odio dolor, vehicula eget lectus sed, pellentesque sagittis eros. Morbi semper ex eget cursus convallis. Fusce quis vestibulum mi. Praesent vestibulum bibendum dapibus. Nunc viverra nulla placerat libero viverra consectetur. Nullam cursus vulputate bibendum. Morbi dignissim, eros eget gravida dignissim, purus ipsum maximus tellus, nec tincidunt quam lectus eu odio. Pellentesque imperdiet dolor sit amet ipsum volutpat interdum eu sed nulla. Quisque vestibulum massa a arcu volutpat commodo. Cras lorem mauris, mattis non viverra sit amet, sodales tristique odio. Aenean auctor pulvinar tincidunt. Pellentesque eget dui nisl. Aliquam vel lorem eu magna vulputate mattis id non arcu.</p>
	</div>
	<div class="about-image" id="niagara-on-the-lake-pic"><img src="../../niagara-on-the-lake.jpg"></div>
</div>

