<!-- dynamic title-->
<% provide(:title, "Contact") %>


<div class="page-container">
	<div class="map-container" id="actual-map"></div>
	<div class="location-box-container">
		<div class="location-box">
			<div class="location-name">LCBO North</div>
			<div class="location-address">2698 Eglington Ave, Toronto</div>
			<div class="location-id-tag"></div>
			<div class="location-phone">647-404-3868 <a class="phone-link"><i class="fas fa-phone-square fa-2x"></i></a></div>
			<div class="location-directions"></div>
		</div>
		<div class="location-box">
			<div class="location-name">LCBO East</div>
			<div class="location-address">2698 Eglington Ave, Toronto</div>
			<div class="location-id-tag"></div>
			<div class="location-phone">647-404-3868 <a class="phone-link"><i class="fas fa-phone-square fa-2x"></i></a></div>
			<div class="location-directions"></div>
		</div>
		<div class="location-box">
			<div class="location-name">LCBO South</div>
			<div class="location-address">2698 Eglington Ave, Toronto</div>
			<div class="location-id-tag"></div>
			<div class="location-phone">647-404-3868 <a class="phone-link"><i class="fas fa-phone-square fa-2x"></i></a></div>
			<div class="location-directions"></div>
		</div>
		<div class="location-box">
			<div class="location-name">LCBO West</div>
			<div class="location-address">2698 Eglington Ave, Toronto</div>
			<div class="location-id-tag"></div>
			<div class="location-phone">647-404-3868 <a class="phone-link"><i class="fas fa-phone-square fa-2x"></i></a></div>
			<div class="location-directions"></div>
		</div>
	</div>
</div>

