<!-- dynamic title-->
<% provide(:title, "Home") %>
<div class="malus-crest"></div>
<div class="malus-tree-left"></div>
<div class="malus-tree-right"></div>

<div class="age-check-popup">
	<div class="age-text">Hey, are you at least 19 years old?</div>
	<div class="button age-button" id="accept-button">Yep!</div>
	<div class="button age-button">Aww man...</div>
</div>
<div class="age-check-overlay"></div>

<div class="welcome-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum libero nisi. Donec consequat est vitae eros placerat imperdiet. Nullam vitae mattis sem. Morbi sed mi metus. Aliquam eget cursus magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse non augue dolor. Phasellus in sapien lobortis, rutrum ex vel, lobortis erat.</div>
<div class="button-container">
	<%= link_to "BLOG", "/articles", :class =>"landing-button blog-button" %>
	<%= link_to "ABOUT", "/about", :class =>"landing-button about-button" %>
	<%= link_to "STORE", "/charges/new", :class =>"landing-button store-button" %>
	<%= link_to "LOCATIONS", "/contact", :class =>"landing-button contact-button", 'data-turbolinks' => false %>
</div>