<!-- dynamic title-->
<% provide(:title, "Store") %>


<div class="malus-crest"></div>
<div class="malus-tree-left"></div>
<div class="malus-tree-right"></div>
<div class="age-check-popup">Hey, are you at least 19 years old?</div>
<div class="age-check-overlay">
	<div class="button accept-button">Yep!</div>
	<div class="button reject-button">Aww man...</div>
</div>