<!-- dynamic title-->
<% provide(:title, "Store") %>


<div class="malus-crest"></div>
<div class="malus-tree-left"></div>
<div class="malus-tree-right"></div>
<div class="age-check-popup">Hey, are you at least 19 years old?
	<div class="button accept-button">Yep!</div>
	<div class="button reject-button">Aww man...</div>
</div>
<div class="age-check-overlay"></div>
<div class="welcome-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum libero nisi. Donec consequat est vitae eros placerat imperdiet. Nullam vitae mattis sem. Morbi sed mi metus. Aliquam eget cursus magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse non augue dolor. Phasellus in sapien lobortis, rutrum ex vel, lobortis erat.</div>
<div class="button-container">
	<div class="landing-button blog-button">BLOG</div>
	<div class="landing-button about-button">ABOUT</div>
	<div class="landing-button store-button">STORE</div>
	<div class="landing-button locations-button">LOCATIONS</div>
</div>